.container {
  height: 5em;
  width: 100%;
  margin-bottom: 1em;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.button {
  height: unset;
}
.button.padded {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.button.primary {
  background-color: #0a64b2;
  border-color: #0a64b2;
}
.button.primary.button-clear,
.button.primary.button-outline {
  background-color: transparent;
  color: #0a64b2;
}
.button.primary.button-clear {
  border-color: transparent;
}

.button.secondary {
  background-color: #0e6655;
  border-color: #0e6655;
}
.button.secondary.button-clear,
.button.secondary.button-outline {
  background-color: transparent;
  color: #0e6655;
}
.button.secondary.button-clear {
  border-color: transparent;
}
